<div class="app-wrapper">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</div>
<div [ngClass]="{'video-container': true, 'dont-display': !hasVideo$ | async}">
  <video [autoplay]="fading$ | async" muted loop #videoPlayer>
    <source src="assets/background.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div [ngClass]="{'video-overlay': true, 'fadeout': fading$ | async}"></div>
  <div [ngClass]="{'video-overlay-rest': fading2$, 'fadeout2': fading2Out$ | async}"></div>
</div>
