/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

circle {
	stroke: #009688 !important;
}

.mat-form-field-ripple {
	background-color: #009688 !important;
	opacity: 1 !important;
	transform: none !important;
}

.example-chip-list {
	.mat-form-field-label {
		span {
			color: #009688 !important;
		}
	}
}
